body { color:rgb(93, 59, 18)
    display: flex;
    flex-direction: column
}
main { color:rgb(193, 125, 24)

    display: flex;
    flex-direction: row;
    flex: auto;
}
article { color:rgb(87, 55, 7)
    flex: 2;
    
}
aside{
    flex: 1;
   
}
article, aside {
    overflow-y: auto;
}